<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Onlineboard</title>
</head>

<body>
    <header>
    </header>
    <article>
    <section class="create-panel">
        <div>
            <p class = "title">OnlineBoard</p>
        </div>
        <div>
            <button onclick="location.href='/new'">
                <p>Создать доску</p>
            </button>
        </div>
    </section>
    <section id="example">
    </section>
    </article>
    <footer>
        Поддерживаемые синтаксисы: <a href="https://katex.org/">katex</a>, <a href="http://asciimath.org/">AsciiMath</a>
    </footer>
</body>
</html>