html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.board {
    display: flex;
    height: 100%;
}

.board-layout {
    background-color: #154336;
    color: white;
}

.board article {
    flex: 1;
    padding: 8px;
    margin: 4px;
    border: inset 8px;
    /*TODO*/
    overflow-x: scroll;
    overflow-y: hidden;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: large;
    padding: 0;
    margin: 0;
    border: none;
    overflow-y: hidden;
}