:root {
    --board-text-color: #DAD7DD;
    --line-text-color: #DAD7DD;
    --line-background-color: #131416;
    --board-background-color: #33343D;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--board-background-color);
    color: var(--board-text-color)
}

.board {
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    height: 100%;
}

.line-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.line > section {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.line > *, .line > * > *,  .line > * > * > *{
    background-color: var(--line-background-color);
    color: var(--line-text-color);
}

.line > section > article {
    flex: 1;
    padding: 8px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    border-left: solid 1px var(--board-background-color);
    overflow-y: auto;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: large;
    padding: 0;
    border: none;
    overflow-y: hidden;
}

.plaintext-render {
    font-size: large;
}

button {
    border: none;
    padding: 5px 10px;
}

.color-themes-panel div {
    padding: 4px;
    font-size: smaller;
}

.color-themes-panel {
    border: solid 1px;
}

.color-themes-panel:hover {
    cursor: pointer;
}

.simple-row {
    display: flex;
}

body > header {
    display: flex;
    justify-content: space-between;
}

.output-container * {
    margin: 0;
}