html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #33343D;
    color: #DAD7DD
}

.board {
    display: flex;
    height: 100%;
    min-height: 128px;
}

.board-layout {
    background-color: #131416/*#154336*/;
    color: #DAD7DD;
}

.board article {
    flex: 1;
    padding: 8px;
    margin: 2px;
    /*TODO*/
    /* overflow-x: scroll; */
    overflow-y: hidden;
}

textarea {
    width: 100%;
    height: 100%;
    font-size: large;
    padding: 0;
    margin: 0;
    border: none;
    overflow-y: hidden;
}

.plaintext-render {
    font-size: large;
}

button{
    background-color: #131416;
    border: none;
    color: #DAD7DD;
    padding: 5px 10px;
}

select{
    background-color: #131416; 
    border: none;
    color: #DAD7DD;
    padding: 5px 10px;
}